<link rel="stylesheet" href="css/style.css">

    <div id="inner-nav"></div>
    <div id="container">
        <div id="profile">
            <div id="image">
                <img id="profile-photo" src="images/luis.jpg" alt="Profile-Image">
                <a href="#"><i class="fas fa-pen stroke-transparent"></i></a>
            </div>
            <p id="name">Luis Palacios<br><span id="email">lp@luispal.com</span></p>
            <p id="designation">Custodian/Cloud Architect<br><span id="college"> Self taught and educated </span></p>
            <div id="social-links"><a href="#"><i class="fab fa-twitter stroke-transparent"></i></a><a><i class="fab fa-linkedin-in stroke-transparent"></i></a><a><i class="fab fa-github stroke-transparent"></i></a></div>
            <hr width="100%">
            <div id="about">
                <p style="display:inline;">Profile</p>
                <a href="#"><i class="fas fa-pen stroke-transparent-blue"></i></a>
            </div>
            <p>Highly <strong>motivated, hungry,</strong> and <strong>driven</strong> business professional looking for an entry level position in the
                technology industry. Recently passed the Google Cloud Associate Certification after spending weekends
                and evenings over the last 2 years learning cloud tech, python application and web development.
                I have a dynamic range of experience across many industries, a dedicated work ethic, with a commitment
                to the growth of self and those surrounding. A forever learner. I aim to optimize value. I have a knack
                for interpersonal relationships, and the ability to genuinely express value. A history of success in
                sales and business growth. Equipped with the knowledge of 16 diverse years in the field, that culminates
                to a well of hybrid abilities.</p>
            <p id="year-graduation">Call<br><strong>760 822 8742</strong></p>
            <p id="education">Certifications<br><strong>Google Associate Cloud Engineer</strong></p>
        </div>
        <div id="info-cards">
            <div class="card">
                <p><i class="fas fa-briefcase stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Highlights</p>

            </div>
            <div class="card">
                <p><i class="fas fa-briefcase stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Experience</p>
                <ul>
                    <li><p class="tags">Discovery Elementary - Custodian<br><span>Maintain assigned
                        route daily, ensuring cleanliness and safety for staff and students. <br> <span>San Marcos, Ca
                        </span>| <span>2020 - Present</span></span></p>
                        <a class="edit" href="#"><i class="fas fa-pen stroke-transparent-blue"></i></a></li>
                    <li><p class="tags">Eco Gardeners - Landscape Lead<br><span>Responsible for managing 8 – 10 different routes per day
                        throughout San Diego County. Managed properties and relationships as well as selling plants and
                        landscape designs to all assigned clients. <br>
                        <span>San Diego, Ca</span> | <span>2018 - 2020</span></p>
                    <li><p class="tags">Sundial Farm - Sales Lead<br><span>Major contributor to the growth of clientele and sold
                    thousands of pounds of hydroponically grown produce. Awarded yearly contract of large local school
                    district twice. Acquired local restaurants as well as very successful local businesses such as:
                    Bitchin’ Sauce. <br>
                        <span>Vista, Ca</span> | <span>2017 - 2018</span></p>
                    <li><p class="tags">Wild Flower Tool & Seed Co. - Regional Sales<br><span>Traveled regionally to 7
                    major cities and sold a variety of gardening tools and wildflower seeds face to face with the
                    customer. <br>
                        <span>Napa, Ca - Regional</span> | <span>2015 - 2018</span></p>
                    <li><p class="tags">S.T. International - Sales Lead<br><span>As the sole salesperson, I acquired
                    many major aquarium stores in southern California, and was responsible for managing all clientele
                    relationships. Traveled to Taiwan and was partly responsible for QC concerning manufacturing. <br>
                        <span>Vista, Ca & Taiwan</span> | <span>2014 - 2015</span></p>
                    <li><p class="tags">T.G.E. Distribution - Sales & Shipping/Receiving<br><span>Startup turned
                    successful small business. First employee and effectively right-hand man to owner/operator.
                    Shared responsibility of 50% growth of the company within the first year. Responsible for managing
                    relationships with the majority of the accounts, as well as managing shipping & receiving. <br>
                        <span>Vista, Ca</span> | <span>2011 - 2014</span></p>
                    <li><p class="tags">Black Box Distribution - Shipping/Receiving<br><span>Picking and packing orders.
                    Assistant to the receiving manager. A part of the team that contributed to being awarded the
                    Ernst & Young Entrepreneur of the Year Award in 2006. <br>
                        <span>Carlsbad, Ca</span> | <span>2005 - 2011</span></p>

                </ul>
                <footer>
                    <h3>Hit Counter Goes Here</h3>
                </footer>
            </div>